{
  "openapi": "3.0.1",
  "info": {
    "title": "Doklado API",
    "description": "This documentation describes the Doklado API.",
    "contact": {
      "email": "info@doklado.sk"
    },
    "version": "2025.2.18"
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "servers": [
    {
      "url": "https://api-gateway-prod-europe-west-1-7epuecvu.ew.gateway.dev"
    }
  ],
  "paths": {
    "/v1/documents": {
      "post": {
        "summary": "Returns documents for selected date range",
        "deprecated": true,
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v2/documents": {
      "post": {
        "summary": "Returns documents for selected date range",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentsV2InputData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentsV2Response"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/setExported": {
      "post": {
        "summary": "Set exported flag for documents",
        "deprecated": true,
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Array of document ids",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataSetExported"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimple"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v2/documents/setExported": {
      "post": {
        "summary": "Set exported flag for documents",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Array of exportData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataSetExportedV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SetExportedV2SuccesfullResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/organization/accounting-settings/import": {
      "post": {
        "summary": "Set accounting software settings",
        "deprecated": true,
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataAccountingSoftwareImport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimple"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v2/organization/accounting-settings/import": {
      "post": {
        "summary": "Set accountig software settings",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataAccountingSoftwareImportV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimple"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/getAttachments": {
      "post": {
        "summary": "Get attachments public download urls",
        "deprecated": true,
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "documentId",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataGetAttachments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimple"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v2/documents/attachments/get": {
      "post": {
        "summary": "Get attachments public download urls V2",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "documentIds for now only one object is supported",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataGetAttachmentsV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GetAttachmentsV2SuccesfullResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/invoice-issue": {
      "post": {
        "summary": "Issue new invoice without pdf",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for issuing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataIssueInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "document": {
                              "type": "string",
                              "description": "id of created document"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/issued-invoice-update": {
      "post": {
        "summary": "Update issued invoice",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for issuing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataUpdateIssuedInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "document": {
                              "type": "string",
                              "description": "id of created document"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/get-invoice-pdf": {
      "post": {
        "summary": "Get issued invoice pdf",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for generating pdf",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataGetInvoicePdf"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "Content-Type": {
                              "type": "string"
                            },
                            "encoding": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string",
                              "description": "Pdf data encoded as base64"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/documents/send-invoice-by-email": {
      "post": {
        "summary": "Generates pdf and sends invoice by email",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for generating pdf",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataSendInvoiceByEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimple"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    },
    "/v1/unprocessed-documents": {
      "post": {
        "summary": "Returns documents for selected date range from unprocessed documents section",
        "tags": [
          "Documents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "description": "Input parameters for export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputDataGetUnprocessedDocuments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseSimple"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GetUnprocessedDocumentsSuccefulresponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server invocation error",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InputParametersUnprocessedDocuments": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "example": "47847786",
            "description": "Company identification number (IČO)"
          },
          "dateFrom": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents from date.",
            "nullable": true
          },
          "dateLastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated time",
            "nullable": true
          },
          "dateTo": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents until date.",
            "nullable": true
          },
          "orderBy": {
            "type": "string",
            "description": "Order Documents",
            "nullable": true,
            "enum": [
              "delivery_date",
              "creation_date"
            ]
          },
          "searchAfter": {
            "type": "array",
            "nullable": true,
            "example": [
              "2025-06-12T12:00:00.000",
              "zquLggIvQ9Vmv3S3n2ER"
            ],
            "items": {
              "oneOf": [
                {
                  "type": "string"
                }
              ]
            },
            "description": "Tokens for paggination when sorting"
          },
          "orderByDescending": {
            "type": "boolean",
            "nullable": true,
            "example": false
          },
          "dateType": {
            "type": "string",
            "description": "Get documents by issue date or by document creation date.",
            "nullable": true,
            "enum": [
              "create",
              "issue"
            ]
          }
        }
      },
      "InputParameters": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "example": "47847786",
            "description": "Company identification number (IČO)"
          },
          "isExported": {
            "type": "boolean",
            "example": false,
            "description": "Get only documents with isExported status.",
            "nullable": true
          },
          "dateFrom": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents from date.",
            "nullable": true
          },
          "dateLastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated time",
            "nullable": true
          },
          "dateTo": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents until date.",
            "nullable": true
          },
          "orderBy": {
            "type": "string",
            "description": "Order Documents",
            "nullable": true,
            "enum": [
              "delivery_date",
              "issue_date",
              "creation_date"
            ]
          },
          "orderByDescending": {
            "type": "boolean",
            "nullable": true,
            "example": false
          },
          "resourceTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "description": "Get documents by type",
              "enum": [
                "receipt",
                "invoice"
              ]
            }
          },
          "searchAfter": {
            "type": "array",
            "nullable": true,
            "example": [
              "2025-06-12T12:00:00.000",
              "zquLggIvQ9Vmv3S3n2ER"
            ],
            "items": {
              "oneOf": [
                {
                  "type": "string"
                }
              ]
            },
            "description": "Tokens for paggination when sorting"
          },
          "dateType": {
            "type": "string",
            "description": "Get documents by issue date or by document creation date.",
            "nullable": true,
            "enum": [
              "create",
              "issue"
            ]
          },
          "continuationToken": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "Token used for paggination"
          }
        }
      },
      "AccountingSettings": {
        "type": "object",
        "nullable": true,
        "properties": {
          "accountingItem": {
            "$ref": "#/components/schemas/AccountingItem"
          },
          "numericCode": {
            "$ref": "#/components/schemas/NumericCode"
          },
          "cashRegister": {
            "$ref": "#/components/schemas/CashRegister"
          },
          "projects": {
            "$ref": "#/components/schemas/Project"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "activity": {
            "$ref": "#/components/schemas/Activity"
          },
          "expenditureCenter": {
            "$ref": "#/components/schemas/ExpenditureCenter"
          },
          "generalDocumentAgenda": {
            "$ref": "#/components/schemas/GeneralDocumentAgenda"
          },
          "predefinedNote": {
            "$ref": "#/components/schemas/PredefinedNote"
          },
          "classificationVat": {
            "$ref": "#/components/schemas/ClassificationVat"
          },
          "bankAccountInfo": {
            "$ref": "#/components/schemas/BankAccountInfo"
          }
        }
      },
      "AccountingSettingsV2": {
        "type": "object",
        "nullable": true,
        "properties": {
          "accountingItem": {
            "$ref": "#/components/schemas/AccountingItemV2"
          },
          "numericCode": {
            "$ref": "#/components/schemas/NumericCodeV2"
          },
          "cashRegister": {
            "$ref": "#/components/schemas/CashRegisterV2"
          },
          "projects": {
            "$ref": "#/components/schemas/ProjectV2"
          },
          "order": {
            "$ref": "#/components/schemas/OrderV2"
          },
          "activity": {
            "$ref": "#/components/schemas/ActivityV2"
          },
          "expenditureCenter": {
            "$ref": "#/components/schemas/ExpenditureCenterV2"
          },
          "generalDocumentAgenda": {
            "$ref": "#/components/schemas/GeneralDocumentAgendaV2"
          },
          "predefinedNote": {
            "$ref": "#/components/schemas/PredefinedNoteV2"
          },
          "classificationVat": {
            "$ref": "#/components/schemas/ClassificationVatV2"
          },
          "bankAccountInfo": {
            "$ref": "#/components/schemas/BankAccountInfoV2"
          },
          "classificationKVVat": {
            "$ref": "#/components/schemas/ClassificationVatKVV2"
          }
        }
      },
      "InputDataAccountingSoftwareImport": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "organizationId": {
                "type": "string",
                "description": "Organization ID (IČO)"
              },
              "accountingItems": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/AccountingItem"
                }
              },
              "numericCodes": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/NumericCode"
                }
              },
              "cashRegisters": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/CashRegister"
                }
              },
              "projects": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "orders": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Order"
                }
              },
              "activities": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Activity"
                }
              },
              "expenditureCenters": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ExpenditureCenter"
                }
              },
              "generalDocumentAgendas": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/GeneralDocumentAgenda"
                }
              },
              "predefinedNotes": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/PredefinedNote"
                }
              },
              "classificationVat": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ClassificationVat"
                }
              },
              "bankAccountInfo": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/BankAccountInfo"
                }
              }
            }
          }
        }
      },
      "InputDataAccountingSoftwareImportV2": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "organizationId": {
                "type": "string",
                "description": "Organization ID (IČO)"
              },
              "accountingItems": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/AccountingItemV2"
                }
              },
              "numericCodes": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/NumericCodeV2"
                }
              },
              "cashRegisters": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/CashRegisterV2"
                }
              },
              "projects": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ProjectV2"
                }
              },
              "orders": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/OrderV2"
                }
              },
              "activities": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ActivityV2"
                }
              },
              "expenditureCenters": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ExpenditureCenterV2"
                }
              },
              "generalDocumentAgendas": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/GeneralDocumentAgendaV2"
                }
              },
              "predefinedNotes": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/PredefinedNoteV2"
                }
              },
              "classificationVat": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ClassificationVatV2"
                }
              },
              "bankAccountInfo": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/BankAccountInfoV2"
                }
              },
              "classificationKVVat": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/ClassificationVatKVV2"
                }
              }
            }
          }
        }
      },
      "AccountingItem": {
        "type": "object",
        "nullable": true,
        "description": "Účtovná položka",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "Naklady",
            "type": "string"
          },
          "code": {
            "example": "2N",
            "type": "string"
          },
          "resourceType": {
            "type": "string",
            "enum": [
              "receipt",
              "invoice",
              "other",
              "undefined"
            ]
          }
        }
      },
      "NumericCode": {
        "type": "object",
        "nullable": true,
        "description": "Číselný rad",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "domestic",
            "type": "string"
          },
          "name": {
            "example": "Vseobecny ciselny rad",
            "type": "string"
          },
          "paymentType": {
            "$ref": "#/components/schemas/PaymentType"
          }
        }
      },
      "CashRegister": {
        "type": "object",
        "nullable": true,
        "description": "Pokladna",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "cash_register",
            "type": "string"
          },
          "name": {
            "example": "Pokladna EU",
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "nullable": true,
        "description": "Zakazka",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization"
          },
          "value": {
            "example": "order_bridge",
            "type": "string"
          },
          "code": {
            "example": "COM",
            "type": "string"
          },
          "name": {
            "example": "order 1",
            "type": "string",
            "description": "order name"
          }
        }
      },
      "Project": {
        "type": "object",
        "nullable": true,
        "description": "Projekt",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "project_ZA",
            "type": "string"
          },
          "note": {
            "nullable": true,
            "example": "Stavba mostu",
            "type": "string"
          }
        }
      },
      "Activity": {
        "type": "object",
        "nullable": true,
        "description": "Cinnost (pre uct. sw tangram Kalkulacna polozka)",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 2
          },
          "value": {
            "example": "activity_test",
            "type": "string"
          },
          "code": {
            "example": "JULO",
            "type": "string"
          }
        }
      },
      "ExpenditureCenter": {
        "type": "object",
        "nullable": true,
        "description": "Nakladove stredisko",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "expenditure center",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          }
        }
      },
      "GeneralDocumentAgenda": {
        "type": "object",
        "nullable": true,
        "description": "Typ dokladu",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "document type",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          }
        }
      },
      "ClassificationVat": {
        "type": "object",
        "nullable": true,
        "description": "Clenenie DPH",
        "properties": {
          "resourceTypeFlags": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AccountingResourceTypeFlags"
            }
          },
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "document type",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          },
          "validFrom": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "validTo": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "isReverseCharge": {
            "example": true,
            "nullable": true,
            "type": "boolean"
          }
        }
      },
      "BankAccountInfo": {
        "type": "object",
        "nullable": true,
        "description": "Bankovy ucet",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "VUB bank",
            "type": "string"
          },
          "code": {
            "example": "JUL",
            "type": "string"
          },
          "accountIdentification": {
            "example": "SK456",
            "type": "string"
          }
        }
      },
      "PredefinedNote": {
        "type": "object",
        "nullable": true,
        "description": "Preddefinované poznámky",
        "properties": {
          "accountingSoftwareId": {
            "type": "number",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "document type",
            "type": "string"
          }
        }
      },
      "AccountingItemV2": {
        "type": "object",
        "nullable": true,
        "description": "Účtovná položka",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "Naklady",
            "type": "string"
          },
          "recalculate": {
            "example": false,
            "nullable": true,
            "type": "boolean"
          },
          "creditAccount": {
            "example": 502,
            "nullable": true,
            "type": "string"
          },
          "debitAccount": {
            "example": 302,
            "nullable": true,
            "type": "string"
          },
          "code": {
            "example": "2N",
            "type": "string"
          },
          "ratioAllocation": {
            "$ref": "#/components/schemas/RatioAllocation"
          },
          "resourceType": {
            "type": "string",
            "enum": [
              "receipt",
              "invoice",
              "other",
              "undefined"
            ]
          }
        }
      },
      "NumericCodeV2": {
        "type": "object",
        "nullable": true,
        "description": "Číselný rad",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "domestic",
            "type": "string"
          },
          "name": {
            "example": "Vseobecny ciselny rad",
            "type": "string"
          },
          "paymentType": {
            "$ref": "#/components/schemas/PaymentType"
          }
        }
      },
      "CashRegisterV2": {
        "type": "object",
        "nullable": true,
        "description": "Pokladna",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "cash_register",
            "type": "string"
          },
          "name": {
            "example": "Pokladna EU",
            "type": "string"
          }
        }
      },
      "OrderV2": {
        "type": "object",
        "nullable": true,
        "description": "Zakazka",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization"
          },
          "value": {
            "example": "order_bridge",
            "type": "string"
          },
          "code": {
            "example": "COM",
            "type": "string"
          },
          "name": {
            "example": "order 1",
            "type": "string",
            "description": "order name"
          }
        }
      },
      "ProjectV2": {
        "type": "object",
        "nullable": true,
        "description": "Projekt",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "project_ZA",
            "type": "string"
          },
          "note": {
            "nullable": true,
            "example": "Stavba mostu",
            "type": "string"
          }
        }
      },
      "ActivityV2": {
        "type": "object",
        "nullable": true,
        "description": "Cinnost (pre uct. sw tangram Kalkulacna polozka)",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 2
          },
          "value": {
            "example": "activity_test",
            "type": "string"
          },
          "code": {
            "example": "JULO",
            "type": "string"
          }
        }
      },
      "ExpenditureCenterV2": {
        "type": "object",
        "nullable": true,
        "description": "Nakladove stredisko",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "expenditure center",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          }
        }
      },
      "GeneralDocumentAgendaV2": {
        "type": "object",
        "nullable": true,
        "description": "Typ dokladu",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "document type",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          }
        }
      },
      "ClassificationVatV2": {
        "type": "object",
        "nullable": true,
        "description": "VAT Classification",
        "properties": {
          "resourceTypeFlags": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AccountingResourceTypeFlags"
            }
          },
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "document type",
            "type": "string"
          },
          "code": {
            "example": "EXIT",
            "type": "string"
          },
          "validFrom": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "validTo": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "isReverseCharge": {
            "example": true,
            "nullable": true,
            "type": "boolean"
          }
        }
      },
      "ClassificationVatKVV2": {
        "type": "object",
        "nullable": true,
        "description": "VAT Control statement",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "Prijaté zjednodušené faktúry podľa §74...",
            "type": "string"
          },
          "code": {
            "example": "B3",
            "type": "string"
          }
        }
      },
      "BankAccountInfoV2": {
        "type": "object",
        "nullable": true,
        "description": "Bankovy ucet",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "name": {
            "example": "VUB bank",
            "type": "string"
          },
          "code": {
            "example": "JUL",
            "type": "string"
          },
          "accountIdentification": {
            "example": "SK456",
            "type": "string"
          }
        }
      },
      "PredefinedNoteV2": {
        "type": "object",
        "nullable": true,
        "description": "Preddefinované poznámky",
        "properties": {
          "accountingSoftwareId": {
            "type": "string",
            "description": "Parameter for pairing accounting setting with existing data in organization",
            "example": 1
          },
          "value": {
            "example": "document type",
            "type": "string"
          }
        }
      },
      "PaymentType": {
        "type": "string",
        "enum": [
          "transfer",
          "card",
          "cash",
          "payment_slip",
          "direct_debit",
          "cash_on_delivery",
          "promissory_note",
          "check",
          "document_balance_offset",
          "undefined"
        ]
      },
      "AccountingResourceTypeFlags": {
        "type": "string",
        "enum": [
          "received_receipt",
          "issued_invoice",
          "received_invoice"
        ]
      },
      "VatCategory": {
        "type": "string",
        "nullable": true,
        "enum": [
          "undefined",
          "reverse_charge",
          "tax_exempt"
        ]
      },
      "GetDocumentsV2InputData": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GetDocumentsV2InputParameters"
          }
        }
      },
      "RatioAllocation": {
        "type": "object",
        "properties": {
          "recalculateVat50_50": {
            "type": "boolean",
            "example": false,
            "nullable": true
          },
          "taxable": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "ratio": {
                "type": "number",
                "example": 80
              }
            },
            "required": [
              "value",
              "ratio"
            ]
          },
          "nonTaxable": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "ratio": {
                "type": "number",
                "example": 20
              }
            },
            "required": [
              "value",
              "ratio"
            ]
          }
        },
        "required": [
          "taxable",
          "nonTaxable"
        ]
      },
      "GetDocumentsV2InputParameters": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "example": "47847786",
            "description": "Company identification number (IČO)"
          },
          "isExported": {
            "type": "boolean",
            "example": false,
            "description": "Get only documents with isExported status.",
            "nullable": true
          },
          "dateFrom": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents from date.",
            "nullable": true
          },
          "dateLastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated time",
            "nullable": true
          },
          "dateTo": {
            "type": "string",
            "format": "date-time",
            "description": "Export documents until date.",
            "nullable": true
          },
          "orderBy": {
            "type": "string",
            "description": "Order Documents",
            "nullable": true,
            "enum": [
              "delivery_date",
              "issue_date",
              "creation_date"
            ]
          },
          "orderByDescending": {
            "type": "boolean",
            "nullable": true,
            "example": false
          },
          "resourceTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "description": "Get documents by type",
              "enum": [
                "receipt",
                "invoice"
              ]
            }
          },
          "resourceSubType": {
            "type": "array",
            "description": "Get specific subtyeps for documents",
            "nullable": true,
            "items": {
              "type": "string",
              "description": "Get documents by type",
              "enum": [
                "received_invoice",
                "issued_invoice"
              ]
            }
          },
          "searchAfter": {
            "type": "array",
            "nullable": true,
            "example": [
              "2025-06-12T12:00:00.000",
              "zquLggIvQ9Vmv3S3n2ER"
            ],
            "items": {
              "oneOf": [
                {
                  "type": "string"
                }
              ]
            },
            "description": "Tokens for paggination when sorting"
          },
          "dateType": {
            "type": "string",
            "description": "Get documents by issue, creation, due, delivery date.",
            "nullable": true,
            "enum": [
              "create",
              "issue",
              "delivery",
              "due"
            ]
          },
          "continuationToken": {
            "type": "string",
            "deprecated": true,
            "nullable": true,
            "description": "Token used for pagginationt"
          }
        }
      },
      "InputData": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParameters"
          }
        }
      },
      "InputDataSetExported": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersSetExported"
          }
        }
      },
      "InputDataSetExportedV2": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersSetExportedV2"
          }
        }
      },
      "InputDataGetAttachments": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersGetAttachments"
          }
        }
      },
      "InputDataGetAttachmentsV2": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersGetAttachmentsV2"
          }
        }
      },
      "InputDataIssueInvoice": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersIssueInvoice"
          }
        }
      },
      "InputDataUpdateIssuedInvoice": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersUpdateIssuedInvoice"
          }
        }
      },
      "InputDataGetInvoicePdf": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersGetInvoicePdf"
          }
        }
      },
      "InputDataSendInvoiceByEmail": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersSendInvoiceByEmail"
          }
        }
      },
      "InputParametersSetExported": {
        "type": "object",
        "properties": {
          "documentIds": {
            "type": "array",
            "description": "Array of document ID's to mark as exported",
            "items": {
              "type": "string",
              "example": "tAMAUmjewZ7SHXoDi8ax",
              "description": "ID of document to mark as exported."
            }
          }
        }
      },
      "InputParametersSetExportedV2": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "description": "Array of SetExportedData",
            "items": {
              "$ref": "#/components/schemas/SetExportedData"
            }
          }
        }
      },
      "InputDataGetUnprocessedDocuments": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/InputParametersUnprocessedDocuments"
          }
        }
      },
      "SetExportedData": {
        "type": "object",
        "required": [
          "documentId",
          "status"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Array of Possible errors what was wrong with this export",
            "items": {
              "type": "string",
              "example": "Export failed because bad numeric code was set",
              "description": "Possible error what was wrong with this document during export"
            }
          },
          "accountingSoftwareInternalId": {
            "type": "string",
            "description": "Accounting software internal Id",
            "example": "456"
          },
          "documentId": {
            "type": "string",
            "description": "Document ID to mark",
            "example": "tAMAUmjewZ7SHXoDi8ax"
          },
          "status": {
            "$ref": "#/components/schemas/PublicExportStatus"
          }
        }
      },
      "InputParametersGetAttachmentsV2": {
        "type": "object",
        "properties": {
          "requestDocumentsAttachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicRequestDocumentAttachments"
            }
          }
        }
      },
      "InputParametersSendInvoiceByEmail": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Ico of organization"
          },
          "documentId": {
            "type": "string",
            "description": "document id"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrevoEmailAddress"
            }
          },
          "subject": {
            "nullable": true,
            "type": "string",
            "description": "subject of email, takes precedence over template subject, taken from default email template for document language if ommited without specific template"
          },
          "message": {
            "nullable": true,
            "type": "string",
            "description": "body of email, takes precedence over template body, taken from default email template for document language if ommited without specific template"
          },
          "cc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrevoEmailAddress"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrevoEmailAddress"
            }
          },
          "template": {
            "nullable": true,
            "type": "string",
            "description": "name of template, template language must match invoice document language"
          }
        }
      },
      "BrevoEmailAddress": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "name of email",
            "nullable": true
          }
        }
      },
      "InputParametersGetInvoicePdf": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Ico of organization"
          },
          "documentId": {
            "type": "string",
            "description": "id of document"
          }
        }
      },
      "InputParametersIssueInvoice": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Ico of organization"
          },
          "type": {
            "type": "string",
            "enum": [
              "issued_invoice",
              "issued_credit",
              "issued_debit",
              "issued_advance"
            ]
          },
          "issueDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice issue date, today if omitted",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice due date, same as issue date if omitted",
            "nullable": true
          },
          "deliveryDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice deliveryDate date, issue date + 14 if omitted",
            "nullable": true
          },
          "taxPointDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice taxPointDate date",
            "nullable": true
          },
          "number": {
            "type": "string",
            "description": "Invoice number, taken from numeric code if omitted/validated against numeric code format",
            "nullable": true
          },
          "originalNumber": {
            "type": "string",
            "description": "Original invoice number",
            "nullable": true
          },
          "telephoneNumber": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Contact email on pdf",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "reverseCharge": {
            "type": "boolean",
            "nullable": true
          },
          "accountingSettings": {
            "type": "object",
            "properties": {
              "numericCodeId": {
                "description": "Can be used to generate invoice number, can be omitted if invoice number is filled or organization has default numeric code for this invoice type!",
                "type": "string",
                "nullable": true
              },
              "expenditureCenterId": {
                "type": "string",
                "nullable": true
              },
              "accountingItemId": {
                "type": "string",
                "nullable": true
              },
              "projectId": {
                "type": "string",
                "nullable": true
              },
              "activityId": {
                "type": "string",
                "nullable": true
              },
              "approvalProcessId": {
                "type": "string",
                "nullable": true
              },
              "orderId": {
                "type": "string",
                "nullable": true
              },
              "classificationVatId": {
                "type": "string",
                "nullable": true
              },
              "classificationKvVatId": {
                "type": "string",
                "nullable": true
              },
              "debitAccountingAccountId": {
                "type": "string",
                "nullable": true
              },
              "accountingSoftwareAgendaId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicIssueInvoiceItem"
            }
          },
          "customer": {
            "type": "object",
            "description": "Criteria for searching for partner sorted by priority, only one is neccessary.",
            "properties": {
              "ico": {
                "type": "string",
                "nullable": true
              },
              "icdph": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "dic": {
                "type": "string",
                "nullable": true
              },
              "vatPayer": {
                "type": "boolean",
                "nullable": true
              },
              "streetName": {
                "type": "string",
                "nullable": true
              },
              "propertyRegistrationNumber": {
                "type": "string",
                "nullable": true
              },
              "postalCode": {
                "type": "string",
                "nullable": true
              },
              "buildingNumber": {
                "type": "string",
                "nullable": true
              },
              "municipality": {
                "type": "string",
                "nullable": true
              },
              "country": {
                "type": "string",
                "nullable": true
              },
              "contactEmail": {
                "type": "string",
                "nullable": true
              },
              "nonCorporateEntity": {
                "type": "boolean",
                "nullable": true
              },
              "registerNumberText": {
                "type": "string",
                "nullable": true
              },
              "vatRegistrationType": {
                "type": "string",
                "enum": [
                  "§4",
                  "§4b",
                  "§5",
                  "§7",
                  "§7a"
                ],
                "nullable": true
              },
              "countryCode": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "deliveryAddress": {
                "$ref": "#/components/schemas/DeliveryAddress"
              }
            }
          },
          "paymentInfo": {
            "type": "object",
            "properties": {
              "iban": {
                "type": "string",
                "nullable": true,
                "description": "Nullable if payment type card"
              },
              "variableSymbol": {
                "type": "string",
                "nullable": true,
                "description": "Variable symbol (takes numbers from invoice number if omitted)"
              }
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "noteAboveItems": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Language of generated pdf, slovak if omitted",
            "enum": [
              "english",
              "slovak"
            ]
          },
          "currency": {
            "type": "string",
            "description": "Three digit currency code, EUR if omitted",
            "example": "USD",
            "nullable": true
          },
          "paid": {
            "type": "boolean",
            "nullable": true,
            "description": "Mark document as paid/not paid"
          },
          "ossSettings": {
            "$ref": "#/components/schemas/OSSSettings",
            "nullable": true
          },
          "paymentType": {
            "type": "string",
            "nullable": true,
            "enum": [
              "cash",
              "card",
              "transfer",
              "cash_on_delivery"
            ]
          },
          "discount": {
            "$ref": "#/components/schemas/Discount",
            "nullable": true
          },
          "internalNote": {
            "type": "string",
            "nullable": true,
            "description": "Internal note (pohoda only)"
          }
        }
      },
      "InputParametersUpdateIssuedInvoice": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Document id"
          },
          "organizationId": {
            "type": "string",
            "description": "Ico of organization"
          },
          "issueDate": {
            "type": "string",
            "format": "date-time",
            "description": "Invoice issue date, today if omitted",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "description": "Invoice due date, same as issue date if omitted",
            "nullable": true
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Invoice deliveryDate date, issue date + 14 if omitted",
            "nullable": true
          },
          "number": {
            "type": "string",
            "description": "Invoice number, taken from numeric code if omitted/validated against numeric code format",
            "nullable": true
          },
          "originalNumber": {
            "type": "string",
            "description": "Original invoice number",
            "nullable": true
          },
          "telephoneNumber": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Contact email on pdf",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "reverseCharge": {
            "type": "boolean",
            "nullable": true
          },
          "accountingSettings": {
            "type": "object",
            "nullable": true,
            "properties": {
              "numericCodeId": {
                "description": "Can be used to generate invoice number, can be omitted if invoice number is filled or organization has default numeric code for this invoice type!",
                "type": "string",
                "nullable": true
              },
              "expenditureCenterId": {
                "type": "string",
                "nullable": true
              },
              "accountingItemId": {
                "type": "string",
                "nullable": true
              },
              "projectId": {
                "type": "string",
                "nullable": true
              },
              "activityId": {
                "type": "string",
                "nullable": true
              },
              "approvalProcessId": {
                "type": "string",
                "nullable": true
              },
              "orderId": {
                "type": "string",
                "nullable": true
              },
              "classificationVatId": {
                "type": "string",
                "nullable": true
              },
              "classificationKvVatId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "items": {
            "nullable": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicIssueInvoiceItem"
            }
          },
          "customer": {
            "nullable": true,
            "type": "object",
            "description": "Criteria for searching for partner sorted by priority, only one is neccessary.",
            "properties": {
              "ico": {
                "type": "string",
                "nullable": true
              },
              "icdph": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "dic": {
                "type": "string",
                "nullable": true
              },
              "vatPayer": {
                "type": "boolean",
                "nullable": true
              },
              "streetName": {
                "type": "string",
                "nullable": true
              },
              "propertyRegistrationNumber": {
                "type": "string",
                "nullable": true
              },
              "postalCode": {
                "type": "string",
                "nullable": true
              },
              "buildingNumber": {
                "type": "string",
                "nullable": true
              },
              "municipality": {
                "type": "string",
                "nullable": true
              },
              "country": {
                "type": "string",
                "nullable": true
              },
              "nonCorporateEntity": {
                "type": "boolean",
                "nullable": true
              },
              "registerNumberText": {
                "type": "string",
                "nullable": true
              },
              "contactEmail": {
                "type": "string",
                "nullable": true
              },
              "vatRegistrationType": {
                "type": "string",
                "enum": [
                  "§4",
                  "§4b",
                  "§5",
                  "§7",
                  "§7a"
                ],
                "nullable": true
              },
              "countryCode": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "deliveryAddress": {
                "$ref": "#/components/schemas/DeliveryAddress"
              }
            }
          },
          "paymentInfo": {
            "nullable": true,
            "type": "object",
            "properties": {
              "iban": {
                "type": "string",
                "nullable": true,
                "description": "Nullable if payment type card"
              },
              "variableSymbol": {
                "type": "string",
                "nullable": true,
                "description": "Variable symbol (takes numbers from invoice number if omitted)"
              }
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "noteAboveItems": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Language of generated pdf, slovak if omitted",
            "enum": [
              "english",
              "slovak"
            ]
          },
          "currency": {
            "type": "string",
            "description": "Three digit currency code, EUR if omitted",
            "example": "USD",
            "nullable": true
          },
          "paid": {
            "type": "boolean",
            "nullable": true,
            "description": "Mark document as paid/not paid"
          },
          "ossSettings": {
            "$ref": "#/components/schemas/OSSSettings",
            "nullable": true
          },
          "paymentType": {
            "type": "string",
            "nullable": true,
            "enum": [
              "cash",
              "card",
              "transfer",
              "cash_on_delivery"
            ]
          },
          "discount": {
            "$ref": "#/components/schemas/Discount",
            "nullable": true
          },
          "internalNote": {
            "type": "string",
            "nullable": true,
            "description": "Internal note (pohoda only)"
          }
        }
      },
      "PublicIssueInvoiceItem": {
        "type": "object",
        "description": "Invoice item data",
        "properties": {
          "name": {
            "type": "string"
          },
          "unitPriceWithoutVat": {
            "type": "number"
          },
          "vatRate": {
            "type": "number",
            "nullable": true
          },
          "quantity": {
            "type": "number"
          },
          "unit": {
            "type": "string",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "debitAccountingAccountId": {
            "type": "string",
            "nullable": true
          },
          "skuCode": {
            "type": "string",
            "nullable": true
          },
          "ossServiceType": {
            "$ref": "#/components/schemas/OSSServiceType",
            "nullable": true
          },
          "discount": {
            "$ref": "#/components/schemas/Discount",
            "nullable": true
          }
        }
      },
      "InputParametersGetAttachments": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "tAMAUmjewZ7SHXoDi8ax",
            "description": "ID of document to get attachments."
          }
        }
      },
      "PublicRequestDocumentAttachments": {
        "type": "object",
        "description": "Data for requesting attachments",
        "properties": {
          "documentType": {
            "$ref": "#/components/schemas/RequestDocumentType"
          },
          "documentId": {
            "type": "string"
          }
        }
      },
      "RequestDocumentType": {
        "type": "string",
        "enum": [
          "expense"
        ]
      },
      "ExportItem": {
        "type": "object",
        "nullable": true,
        "description": "One item of expense.",
        "properties": {
          "name": {
            "type": "string",
            "example": "Vegánske kornútiky"
          },
          "price": {
            "type": "number",
            "example": 2.5
          },
          "quantity": {
            "type": "number",
            "example": 10
          },
          "vatRate": {
            "type": "number",
            "example": 20
          },
          "itemType": {
            "$ref": "#/components/schemas/ExportItemType"
          },
          "unit": {
            "type": "string",
            "example": "ks"
          },
          "vatAmount": {
            "type": "number",
            "nullable": true,
            "example": 20
          },
          "vatCategory": {
            "$ref": "#/components/schemas/VatCategory"
          },
          "accountingSettings": {
            "$ref": "#/components/schemas/AccountingSettings"
          },
          "ossServiceType": {
            "$ref": "#/components/schemas/OSSServiceType",
            "nullable": true
          },
          "discount": {
            "$ref": "#/components/schemas/Discount",
            "nullable": true
          }
        }
      },
      "OSSServiceType": {
        "type": "string",
        "enum": [
          "BA",
          "BB",
          "GD",
          "OS",
          "OT",
          "SA",
          "SB",
          "SD",
          "SE",
          "TA",
          "TB",
          "TC",
          "TD",
          "TE",
          "TF",
          "TG",
          "TH",
          "TI",
          "TJ",
          "TK",
          "TX"
        ]
      },
      "ExportItemType": {
        "type": "string",
        "enum": [
          "advance_payment",
          "K",
          "VO",
          "V",
          "O",
          "Z",
          "OZ",
          "VP",
          ""
        ]
      },
      "Discount": {
        "type": "object",
        "nullable": true,
        "properties": {
          "discountPercent": {
            "type": "number",
            "example": 10
          }
        }
      },
      "OSSEvidentaryResourceType": {
        "type": "string",
        "description": "* A - Fakturacna adresa zakaznika\n* B - IP adresa alebo poloha\n* C - Bankove informacie\n* D - Kod krajiny\n* E - Umiestnenie pevnej linky pouzite pre sluzbu\n* F - Ostatne prostriedky\n* G - Miesto dorucenia (alebo dodania)\n* H - Ostatne platobne sluzby\n* I - Obciansky preukaz, pas\n",
        "enum": [
          "A",
          "B",
          "C",
          "D",
          "E",
          "F",
          "G",
          "H",
          "I"
        ]
      },
      "ExportItemV2": {
        "type": "object",
        "nullable": true,
        "description": "One item of expense.",
        "properties": {
          "name": {
            "type": "string",
            "example": "Vegánske kornútiky"
          },
          "price": {
            "type": "number",
            "example": 2.5
          },
          "quantity": {
            "type": "number",
            "example": 10
          },
          "vatRate": {
            "type": "number",
            "example": 20
          },
          "itemType": {
            "$ref": "#/components/schemas/ExportItemType"
          },
          "unit": {
            "type": "string",
            "example": "ks"
          },
          "vatAmount": {
            "type": "number",
            "nullable": true,
            "example": 20
          },
          "vatCategory": {
            "$ref": "#/components/schemas/VatCategory"
          },
          "accountingSettings": {
            "$ref": "#/components/schemas/AccountingSettingsV2"
          }
        }
      },
      "Address": {
        "type": "object",
        "nullable": true,
        "description": "Adress of expense",
        "properties": {
          "streetName": {
            "type": "string",
            "example": "Einsteinova"
          },
          "propertyRegistrationNumber": {
            "type": "string",
            "example": "60"
          },
          "buildingNumber": {
            "type": "string",
            "example": "30"
          },
          "postalCode": {
            "type": "string",
            "example": "85101"
          },
          "municipality": {
            "type": "string",
            "example": "Bratislava - mestská časť Petržalka"
          },
          "country": {
            "type": "string",
            "example": "Slovensko"
          }
        }
      },
      "DeliveryAddress": {
        "type": "object",
        "nullable": true,
        "description": "Delivery Address",
        "properties": {
          "name": {
            "type": "string",
            "example": "Einsteinova"
          },
          "phoneNumber": {
            "type": "string",
            "example": 905369874
          },
          "address": {
            "type": "string",
            "example": "Einsteinova 30"
          },
          "postalCode": {
            "type": "string",
            "example": 85101
          },
          "municipality": {
            "type": "string",
            "example": "Bratislava - mestská časť Petržalka"
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryCode"
          }
        }
      },
      "CountryCode": {
        "type": "string",
        "nullable": true,
        "enum": [
          "sk",
          "cz",
          "af",
          "ax",
          "al",
          "dz",
          "as",
          "ad",
          "ao",
          "ai",
          "aq",
          "ag",
          "ar",
          "am",
          "aw",
          "au",
          "at",
          "az",
          "bs",
          "bh",
          "bd",
          "bb",
          "by",
          "be",
          "bz",
          "bj",
          "bm",
          "bt",
          "bo",
          "bq",
          "ba",
          "bw",
          "bv",
          "br",
          "io",
          "bn",
          "bg",
          "bf",
          "bi",
          "cv",
          "kh",
          "cm",
          "ca",
          "ky",
          "cf",
          "td",
          "cl",
          "cn",
          "cx",
          "cc",
          "co",
          "km",
          "cg",
          "cd",
          "ck",
          "cr",
          "ci",
          "hr",
          "cu",
          "cw",
          "cy",
          "dk",
          "dj",
          "dm",
          "do",
          "ec",
          "eg",
          "sv",
          "gq",
          "er",
          "ee",
          "sz",
          "et",
          "fk",
          "fo",
          "fj",
          "fi",
          "fr",
          "gf",
          "pf",
          "tf",
          "ga",
          "gm",
          "ge",
          "de",
          "gh",
          "gi",
          "gr",
          "gl",
          "gd",
          "gp",
          "gu",
          "gt",
          "gg",
          "gn",
          "gw",
          "gy",
          "ht",
          "hm",
          "va",
          "hn",
          "hk",
          "hu",
          "is",
          "in",
          "id",
          "ir",
          "iq",
          "ie",
          "im",
          "il",
          "it",
          "jm",
          "jp",
          "je",
          "jo",
          "kz",
          "ke",
          "ki",
          "kp",
          "kr",
          "kw",
          "kg",
          "la",
          "lv",
          "lb",
          "ls",
          "lr",
          "ly",
          "li",
          "lt",
          "lu",
          "mo",
          "mg",
          "mw",
          "my",
          "mv",
          "ml",
          "mt",
          "mh",
          "mq",
          "mr",
          "mu",
          "yt",
          "mx",
          "fm",
          "md",
          "mc",
          "mn",
          "me",
          "ms",
          "ma",
          "mz",
          "mm",
          "na",
          "nr",
          "np",
          "nl",
          "nc",
          "nz",
          "ni",
          "ne",
          "ng",
          "nu",
          "nf",
          "mk",
          "mp",
          "no",
          "om",
          "pk",
          "pw",
          "ps",
          "pa",
          "pg",
          "py",
          "pe",
          "ph",
          "pn",
          "pl",
          "pt",
          "pr",
          "qa",
          "re",
          "ro",
          "ru",
          "rw",
          "bl",
          "sh",
          "kn",
          "lc",
          "mf",
          "pm",
          "vc",
          "ws",
          "sm",
          "st",
          "sa",
          "sn",
          "rs",
          "sc",
          "sl",
          "sg",
          "sx",
          "si",
          "sb",
          "so",
          "za",
          "gs",
          "ss",
          "es",
          "lk",
          "sd",
          "sr",
          "sj",
          "se",
          "ch",
          "sy",
          "tw",
          "tj",
          "tz",
          "th",
          "tl",
          "tg",
          "tk",
          "to",
          "tt",
          "tn",
          "tr",
          "tm",
          "tc",
          "tv",
          "ug",
          "ua",
          "ae",
          "gb",
          "us",
          "um",
          "uy",
          "uz",
          "vu",
          "ve",
          "vn",
          "vg",
          "vi",
          "wf",
          "eh",
          "ye",
          "zm",
          "zw",
          "other"
        ]
      },
      "OSSSettings": {
        "type": "object",
        "nullable": true,
        "description": "Settings for OSS(One Stop Shop) of expense",
        "properties": {
          "countryCode": {
            "type": "string",
            "example": "de",
            "enum": [
              "at",
              "be",
              "bg",
              "hr",
              "cy",
              "cz",
              "dk",
              "ee",
              "fi",
              "fr",
              "de",
              "gr",
              "hu",
              "ie",
              "it",
              "lv",
              "lt",
              "lu",
              "mt",
              "nl",
              "pl",
              "pt",
              "ro",
              "sk",
              "si",
              "es",
              "se"
            ]
          },
          "ossEvidentaryResource": {
            "$ref": "#/components/schemas/OSSEvidentaryResourceType"
          },
          "ossServiceType": {
            "$ref": "#/components/schemas/OSSServiceType",
            "nullable": true
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "b184lOqCeR7zJfmc04tV"
          },
          "type": {
            "type": "string",
            "description": "Type of exense",
            "example": "receipt"
          },
          "subType": {
            "$ref": "#/components/schemas/ManualReceiptTypeType"
          },
          "receiptUID": {
            "type": "string",
            "example": "O-A7DAAF78DE354C989AAF78DE351C98D7"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Expense issue date"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of document creation"
          },
          "taxPointDate": {
            "type": "string",
            "format": "date-time"
          },
          "vatRateBasic": {
            "type": "number"
          },
          "taxBaseBasic": {
            "type": "number"
          },
          "vatAmountBasic": {
            "type": "number"
          },
          "vatRateReduced": {
            "type": "number"
          },
          "taxBaseReduced": {
            "type": "number"
          },
          "vatAmountReduced": {
            "type": "number"
          },
          "vatRateTaxFree": {
            "type": "number"
          },
          "freeTaxAmount": {
            "type": "number"
          },
          "vatAmountTaxFree": {
            "type": "number"
          },
          "totalPrice": {
            "type": "number"
          },
          "vatCategory": {
            "$ref": "#/components/schemas/VatCategory"
          },
          "value": {
            "type": "string",
            "description": "Cash register value"
          },
          "accountingCode": {
            "type": "string",
            "description": "Accounting code",
            "deprecated": true
          },
          "organizationId": {
            "type": "string",
            "description": "Organization ID (IČO)"
          },
          "organizationVAT": {
            "type": "string",
            "description": "Organization VAT identification(Dič / IčDph)",
            "deprecated": true
          },
          "organizationVatId": {
            "type": "string",
            "description": "Organization Vat id (IČ DPH)"
          },
          "organizationTaxId": {
            "type": "string",
            "description": "Organization Vat id (Dič DPH)"
          },
          "organizationName": {
            "type": "string",
            "description": "Name of organization"
          },
          "streetName": {
            "type": "string"
          },
          "municipality": {
            "type": "string",
            "description": "City"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code"
          },
          "note": {
            "type": "string",
            "description": "Note"
          },
          "email": {
            "type": "string",
            "description": "Email of user who created document."
          },
          "invoiceNumber": {
            "type": "string",
            "description": "Receipt invoice number"
          },
          "paymentType": {
            "type": "string",
            "example": "cash",
            "description": "Type of payment(card, cash)"
          },
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ExportItem"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "accountingSettings": {
            "$ref": "#/components/schemas/AccountingSettings"
          },
          "exchangeRate": {
            "type": "number",
            "nullable": true
          },
          "otherCurrency": {
            "type": "string",
            "nullable": true
          },
          "otherTotalPrice": {
            "type": "number",
            "nullable": true
          },
          "vatSummary": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CustomVatInterface"
            }
          }
        }
      },
      "UnprocessedDocumentPublicApi": {
        "type": "object",
        "required": [
          "documentId",
          "createdAt",
          "deliveryDate",
          "organizationName"
        ],
        "properties": {
          "documentId": {
            "type": "string",
            "example": "doc_12345"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:30:00Z"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date",
            "example": "2025-01-20"
          },
          "organizationName": {
            "type": "string",
            "example": "Acme Corp"
          },
          "note": {
            "type": "string",
            "nullable": true,
            "example": "Urgent processing requested"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "example": "Reviewed by finance"
          },
          "approvalStatus": {
            "$ref": "#/components/schemas/ApprovalStatus",
            "nullable": true
          },
          "totalPrice": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "example": 199.99
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "example": "USD"
          }
        }
      },
      "ApprovalStatus": {
        "type": "string",
        "enum": [
          "default",
          "rejected",
          "approved",
          "returned"
        ]
      },
      "DocumentV2": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "b184lOqCeR7zJfmc04tV"
          },
          "type": {
            "type": "string",
            "description": "Type of exense",
            "example": "receipt"
          },
          "subType": {
            "$ref": "#/components/schemas/ManualReceiptTypeType"
          },
          "receiptUID": {
            "type": "string",
            "example": "O-A7DAAF78DE354C989AAF78DE351C98D7"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Expense issue date"
          },
          "taxPointDate": {
            "nullable": true,
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of document creation"
          },
          "totalPrice": {
            "type": "number"
          },
          "vatCategory": {
            "$ref": "#/components/schemas/VatCategory"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization ID (IČO)"
          },
          "organizationVatId": {
            "type": "string",
            "description": "Organization Vat id (IČ DPH)"
          },
          "organizationTaxId": {
            "type": "string",
            "description": "Organization Vat id (Dič DPH)"
          },
          "organizationName": {
            "type": "string",
            "description": "Name of organization"
          },
          "note": {
            "type": "string",
            "description": "Note"
          },
          "customText": {
            "type": "string",
            "nullable": true,
            "description": "custom export text"
          },
          "email": {
            "type": "string",
            "description": "Email of user who created document."
          },
          "invoiceNumber": {
            "type": "string",
            "description": "Receipt invoice number"
          },
          "paymentType": {
            "type": "string",
            "example": "cash",
            "description": "Type of payment(card, cash)"
          },
          "items": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ExportItemV2"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "accountingSettings": {
            "$ref": "#/components/schemas/AccountingSettingsV2"
          },
          "exchangeRate": {
            "type": "number",
            "nullable": true
          },
          "otherCurrency": {
            "type": "string",
            "nullable": true
          },
          "otherTotalPrice": {
            "type": "number",
            "nullable": true
          },
          "vatSummary": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CustomVatInterface"
            }
          },
          "ossSettings": {
            "$ref": "#/components/schemas/OSSSettings",
            "nullable": true
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "b184lOqCeR7zJfmc04tV"
          },
          "type": {
            "type": "string",
            "description": "Type of exense",
            "example": "invoice"
          },
          "subType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IssuedInvoiceType"
              },
              {
                "$ref": "#/components/schemas/ReceivedInvoiceTypeType"
              }
            ]
          },
          "organizationName": {
            "type": "string",
            "description": "Name of organization"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization ID",
            "example": "12345678"
          },
          "organizationVAT": {
            "type": "string",
            "description": "VAT identification of organization",
            "example": "SK12345678",
            "deprecated": true
          },
          "organizationVatId": {
            "type": "string",
            "description": "Organization Vat id (IČ DPH)"
          },
          "organizationTaxId": {
            "type": "string",
            "description": "Organization Vat id (Dič DPH)"
          },
          "orderReference": {
            "type": "string",
            "description": "ID of order",
            "example": "Dod. 586683"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          },
          "vatCategory": {
            "$ref": "#/components/schemas/VatCategory"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "taxPointDate": {
            "type": "string",
            "format": "date-time"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of document creation"
          },
          "vs": {
            "type": "string",
            "description": "Variable symbol",
[...]
